<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" 
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
	<string>edu.mit.pull_mitgit</string>
    <key>ProgramArguments</key>
	<array>
	    <string>/usr/bin/git</string>
        <string>--git-dir=/Users/adm/Documents/code/.git</string>
        <string>pull</string>
	</array>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Weekday</key>
            <integer>1</integer>
            <key>Hour</key>
            <integer>4</integer>
            <key>Minute</key>
            <integer>0</integer>
	   </dict>
       <dict>
            <key>Weekday</key>
            <integer>2</integer>
            <key>Hour</key>
            <integer>4</integer>
            <key>Minute</key>
            <integer>0</integer>
       </dict>
       <dict>
            <key>Weekday</key>
            <integer>3</integer>
            <key>Hour</key>
            <integer>4</integer>
            <key>Minute</key>
            <integer>0</integer>
       </dict>
       <dict>
            <key>Weekday</key>
            <integer>4</integer>
            <key>Hour</key>
            <integer>4</integer>
            <key>Minute</key>
            <integer>0</integer>
       </dict>
       <dict>
            <key>Weekday</key>
            <integer>5</integer>
            <key>Hour</key>
            <integer>4</integer>
            <key>Minute</key>
            <integer>0</integer>
       </dict>
    </array>
    <key>StandardErrorPath</key>
    <string>/tmp/pull_mitgit_err.err</string>

    <key>StandardOutPath</key>
    <string>/tmp/pull_mitgit_out.err</string>
</dict>
</plist>